SUBSYSTEM=="usb", KERNEL=="ttyACM[0-9]*", ATTRS{idProduct}=="9601", ATTRS{idVendor}=="05a3", GROUP="dialout"
SUBSYSTEM=="usb", KERNEL=="ttyACM[0-9]*", ATTRS{idProduct}=="9602", ATTRS{idVendor}=="05a3", GROUP="dialout"

