[Unit]
Description=ROS Start

[Service]
User=robot
EnvironmentFile=/home/robot/catkin_ws/src/vendbot/launch/bash.env
ExecStart=/opt/ros/kinetic/bin/roslaunch /home/robot/catkin_ws/src/vendbot/launch/mower.launch

[Install]
WantedBy=multi-user.target
