<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="head_unit">

  <xacro:property name="pi" value="3.14159265359" />

  <link name="head_unit">
    <visual>
      <geometry>
        <box size="0.0160528 0.1992376 0.119888"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
  </link>

  <joint name="base_link_to_head_unit" type="fixed">
    <parent link="base_link" />
    <child link="head_unit" />
    <origin xyz="0 0 1.2192" rpy="0 0 0" />
  </joint>

  <!-- IMU -->
  <link name="imu">
    <visual>
      <geometry>
        <box size="0.0001 0.0001 0.0001"/>
      </geometry>
      <material name="green">
        <color rgba="0 192 0 1" />
      </material>
    </visual>
  </link>

  <joint name="head_unit_to_imu" type="fixed">
    <parent link="head_unit" />
    <child link="imu" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- GPS UNIT -->
  <link name="fix">
    <visual>
      <geometry>
        <box size="0.0001 0.0001 0.0001"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 192 1" />
      </material>
    </visual>
  </link>

  <joint name="head_unit_to_fix" type="fixed">
    <parent link="head_unit" />
    <child link="fix" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>  

  <link name="depth_camera">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 192 1" />
      </material>
    </visual>
  </link>

  <joint name="head_unit_to_depth_camera" type="fixed">
    <parent link="head_unit" />
    <child link="depth_camera" />
    <origin xyz="0 0.24 0" rpy="0 0 0" />
  </joint>

  <link name="fisheye_camera">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="red">
        <color rgba="192 0 0 1" />
      </material>
    </visual>
  </link>

  <joint name="head_unit_to_fisheye_camera" type="fixed">
    <parent link="head_unit" />
    <child link="fisheye_camera" />
    <origin xyz="0 0.4 0" rpy="0 0 0" />
  </joint>  

<!--
<node pkg="tf" type="static_transform_publisher" name="device_to_depth_cam" args="0 0 0 0 0.24 0 device depth_camera 10"/>
<node pkg="tf" type="static_transform_publisher" name="fisheye_to_depth_cam" args="0 -0.05 0 0 0 0 depth_camera fisheye_camera 10"/>
-->
</robot>
