<launch>
  <arg name="mobile_base_port" default="/dev/ttyACM0" /> 

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <include file="$(find rosserial_server)/launch/serial.launch">
    <arg name="port" value="$(arg mobile_base_port)" />
  </include>

  <param name="robot_description" command="cat $(find vendbot)/urdf/mobile_base.urdf" /> 
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publister" />
</launch>

