<launch>
  <arg name="mobile_base_port" default="/dev/ttyACM0" />
  <arg name="rviz" default="false" />
  <arg name="joy" default="false" />
  <arg name="joystick" default="/dev/input/js0" />
  <arg name="stereo" default="false" />

  <param name="robot_description" textfile="$(find vendbot)/urdf/robot.urdf" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publister" />


  <include file="mobile_base.launch" >
    <arg name="mobile_base_port" value="$(arg mobile_base_port)" />
  </include>

  <include file="head_unit.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vendbot)/vendbot.rviz" if="$(arg rviz)" />

  <group if="$(arg joy)">
    <node name="joy_node" pkg="joy" type="joy_node" output="screen">
      <param name="dev" value="$(arg joystick)" />
      <param name="coalesce_interval" value="0.05" />
    </node>
    <node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node" output="screen" />
  </group>

</launch>
